/*
Progress bar
 */
.oa-notice {
    background: #fff;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin: 15px 15px 0;
    padding: 15px;
    border-left-width: 4px;
    border-left-color: #c3c4c7;
}

.oa-notice-success {
    border-left-color: #00a32a;
}

.oa-notice-info {
    border-left-color: #2e78ff;
}

.oa-notice-warning {
    border-left-color: #dba617;
}

.oa-notice-danger {
    border-left-color: #d63638;
}

.ispan {
    float: right;
    margin-right: 6px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    color: #32a1ce;
    border: 1px dotted #32a1ce;
    padding-right: 5px;
    padding-left: 5px;
}

input.input-cron-task {
    padding-right: 40px;
    font-size: 12px;
}

.input-cron-task {
    width: 100%;
}

/*
Orders
 */
.oasis-order .dashicons {
    margin-right: 3px;
}

.oasis-order .badge .dashicons {
    margin-right: 3px;
}

.oasis-order .badge {
    margin-top: 5px;
    margin-bottom: 5px;
}

/**
Form
 */
form.oasis-form table.form-table th {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

form.oasis-form table.form-table td {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

/**
Tree categories
 */
.jquery-tree {
    list-style: none;
}

.jquery-tree ul {
    list-style: none;
}

.jquery-tree-handle {
    cursor: pointer;
    width: 10px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.jquery-tree-collapsed ul {
    display: none;
}

.jquery-tree-collapseall,
.jquery-tree-expandall {
    cursor: pointer;
}

.jquery-tree-collapseall {
    margin-right: 1em;
}

.jquery-tree input {
    position: absolute;
    left: -1000px;
}

.jquery-tree-leaf {
    padding-left: 20px;
}

.jquery-tree-node {
    padding-left: 10px;
}

.jquery-tree-title {
    display: inline-block;
}

.jquery-tree-checked-partial,
.jquery-tree-checked,
.jquery-tree-unchecked {
    background-position: 5px 50%;
    background-repeat: no-repeat;
    cursor: default;
    padding-left: 25px;
    margin: 0;
}

.jquery-tree-checked-partial {
    background-image: url('../img/checkbox-partial.png');
}

.jquery-tree-checked {
    background-image: url('../img/checkbox-checked.png');
}

.jquery-tree-unchecked {
    background-image: url('../img/checkbox-unchecked.png');
}

.jquery-tree-node label,
.jquery-tree-handle {
    -moz-user-select: none;
}

@media (max-width: 1260px) {
    .oa-container {
        width: 100%;
    }
}
